@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

h1 {
  font-family: "Architects Daughter", sans-serif;
  width: 60%;
  margin-top: 30px;
  padding: 0.2rem 1.2rem;
  color: #494a4b;
}

.App {
  font-family: "Architects Daughter", sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  width: 600px;
  margin-top: 100px;
  margin-left: 350px;
  width: 60%;
  border-radius: 10px;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  padding: 0.2rem 1.2rem;
}

Form {
  font-family: "Architects Daughter", sans-serif;
}

.button {
  border: 3px solid hsl(198, 1%, 29%);
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Architects Daughter", sans-serif;
}

.MuiTypography-body1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
